[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
yt-dlp = "*"
youtube-transcript-api = "*"
pandas = "*"
numpy = "*"
scikit-learn = "*"
openai = "*"
python-dotenv = "*"
tqdm = "*"
nltk = "*"
spacy = "*"
sentence-transformers = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.12"
